.container {
    padding: 20px;
    font-family: 'Arial, sans-serif';
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.section {
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

h2 {
    font-size: 2em;
    color: #555;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    color: #666;
}

p {
    font-size: 1em;
    color: #777;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

li p {
    margin: 5px 0;
}

.sidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
    color: #555;
}

.sidebar li:hover,
.sidebar li.active {
    color: #000;
    font-weight: bold;
}

.content {
    margin-left: 40px;
}

/* 響應式設計 */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 0.8em;
    }
}
